[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "matrixStrucTest"]
	path = matrixStrucTest
	url = https://github.com/bdsegal/matrixstructest
