[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "exceedProb"]
	path = exceedProb
	url = https://github.com/bdsegal/exceedprob
	shallow = true
	registered = true
[submodule "matrixStrucTest"]
	path = matrixStrucTest
	url = https://github.com/bdsegal/matrixstructest
	shallow = true
	registered = true
